@import 'tailwindcss';

@theme {
  --color-primary-50: #e6f7f6;
  --color-primary-100: #ccefed;
  --color-primary-200: #99dfdb;
  --color-primary-300: #66cfc9;
  --color-primary-400: #39c5bb;
  --color-primary-500: #2a9d94;
  --color-primary-600: #227a73;
  --color-primary-700: #1a5852;
  --color-primary-800: #113532;
  --color-primary-900: #091211;
  --color-primary: #39c5bb;

  --color-accent-blue: #4455dd;
  --color-accent-green: #88dd44;
  --color-accent-pink: #ee1166;
  --color-accent-orange: #ff9900;
  --color-accent-purple: #884499;
}

/* 隐藏滚动条 */
::-webkit-scrollbar {
  display: none;
}
